*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background: url(../img/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Balsamiq Sans', cursive;

}

.registrate{

    background: rgba(0, 0, 0, .70);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;
    padding: 40px;

}

.registrate h2{

    margin: 0 0 28px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;

}

.registrate p{

    margin: 0 0 28px 0;
    font-weight: 400;
    line-height: 1;

}

.registrate input[type="submit"]{

    background: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.registrate input[type="submit"]:hover{

    background: rgba(0, 117, 217, .70);

}

.contenedor_formulario{

    background: rgba(0, 0, 0, .70);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;

}

.registrate input[type="text"],
.registrate input[type="email"]{

    outline: none;
    background: rgba(0, 0, 0, .50);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all 0.5 ease;

}

.registrate input[type="text"]:focus,
.registrate input[type="email"]:focus {

    border-bottom: 4px solid #0075d9;

}

.registrate input[type="submit"]{

    background: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease;

}

.registrate input[type="submit"]:hover{

    background: rgba(0, 117, 217, .70);

}

.contenedor_formulario .registrate{

    padding: 40px ;
    display: none;

}

.contenedor_formulario .registrate:nth-child(1){

    display: block;

}

